<footer>
            <ul>
                <li><a href="javascript:void(0)">Delivery</a></li>
                <li><a href="javascript:void(0)">Payments</a></li>
                <li><a href="javascript:void(0)">Terms of Use</a></li>
                <li><a href="javascript:void(0)">Privacy Policy</a></li>
            </ul>
            <p>&copy; Showroom Auction Ltd 2015 (Reg. No. 6676554)</p>
            <div class="clearfix"></div>
        </footer>
        <!-- Scripts --> 
        <script type="text/javascript" src="<?php echo $this->basePath() ?>/js/jquery-1.10.2.min.js"></script> 
        <script type="text/javascript" src="<?php echo $this->basePath() ?>/js/amazium.js"></script> 
        <script type="text/javascript" src="<?php echo $this->basePath() ?>/js/jquery.leanModal.min.js"></script> 
        <script type="text/javascript">
                        $("#modal_trigger").leanModal({top: 100, overlay: 0.3, closeButton: ".modal_close"});

                        $(function () {
                            // Calling Login Form
                            $("#login_form").click(function () {
                                $(".social_login").hide();
                                $(".user_login").show();
                                return false;
                            });

                            // Calling Register Form
                            $("#register_form").click(function () {
                                $(".social_login").hide();
                                $(".user_register").show();
                                $(".header_title").text('Register');
                                return false;
                            });

                            // Going back to Social Forms
                            $(".back_btn").click(function () {
                                $(".user_login").hide();
                                $(".user_register").hide();
                                $(".social_login").show();
                                $(".header_title").text('Login');
                                return false;
                            });

                        })
        </script>
    </body>
</html>