<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Index</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <!--[if lt IE 9]>
                    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
                    <![endif]-->
        <!-- Mobile Specific Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <script type="text/javascript">
            /mobi/i.test(navigator.userAgent) && !location.hash && setTimeout(function () {
                if (!pageYOffset)
                    window.scrollTo(0, 1);
            }, 1000);
        </script>
        <!-- CSS -->
        <link rel="stylesheet" href="<?php echo $this->basePath() ?>/css/grid.css">
        <link rel="stylesheet" href="<?php echo $this->basePath() ?>/css/styles.css">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>
        <!-- Favicons -->
        <link rel="shortcut icon" href="<?php echo $this->basePath() ?>/images/favicon.ico">
        <link rel="apple-touch-icon-precomposed" href="<?php echo $this->basePath() ?>/images/apple-touch-icon.png">
        <!-- Analytics -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-1682054-15']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body>
        <?php echo $this->escapeHtml($this->messages); ?>
        <!-- Pop up start -->
        <div id="modal" class="popupContainer" style="display:none;">
            <header class="popupHeader"> <span class="header_title">Login</span> <span class="modal_close"><i class="crose-icon"><img src="<?php echo $this->basePath() ?>/images/cross-icon.png" alt=""></i></span> </header>
            <section class="popupBody"> 
                <!-- Social Login -->
                <div class="social_login">

                    <?php /*<?php
                    //echo get_class($this); die;
                    $form = $this->form;
                    $form->setAttribute('action', $this->url('customer/default', array('controller' => 'index', 'action' => 'login')));
                    $form->prepare();
                    echo $this->form()->openTag($form);
                    ?>
                    <p>Please Login below or click <a href="#" id="register_form_2"> register </a> to join Showroom Auction</p>
                    <div class="user_login_form">
                        <label>Username email</label>
                        <?php echo $this->formRow($form->get('email')); ?>
                        <br />
                        <label>Password</label>
                        <?php echo $this->formRow($form->get('password')); ?>
                        <a href="#" class="forgot_password">Forgotten your password?</a> 
                    </div>
                    <div class="action_btns">
                        <div class="one_half"><a href="#" id="register_form" class="register-btn">Register</a></div>
                        <div class="one_half last"><?php echo $this->formSubmit($form->get('submit')); ?></div>
                    </div>
                    <?php
                    echo $this->form()->closeTag();
                    ?>
                    */?>
                </div>

                <!-- Username & Password Login form -->
                <div class="user_login user_login_form">
                    <form>
                        <label>Username</label>
                        <input type="text" />
                        <br />
                        <label>Password</label>
                        <input type="password" />
                    </form>
                    <a href="#" class="forgot_password">Forgotten your password?</a>
                    <div class="action_btns">
                        <div class="one_half"><a href="#" class="btn back_btn">Back</a></div>
                        <div class="one_half last"><a href="#" class="login-btn">Login</a></div>
                    </div>
                </div>

                <!-- Register Form -->
                <div class="user_register user_login_form">
                    <form>
                        <label>Username</label>
                        <input type="text" />
                        <br />
                        <label>Email Address</label>
                        <input type="email" />
                        <br />
                        <label>Password</label>
                        <input type="password" />
                        <br />
                    </form>
                    <div class="action_btns">
                        <div class="one_half"><a href="#" class="btn back_btn">Back</a></div>
                        <div class="one_half last"><a href="#" class="register-btn">Register</a></div>
                    </div>
                </div>
            </section>
        </div>
        <!-- Pop up end -->
        <header>
            <div class="top">
                <ul>
                    <li><a href="javascript:void(0)">Delivery</a></li>
                    <li><a href="javascript:void(0)">Payments</a></li>
                    <li><a href="javascript:void(0)">Terms of Use</a></li>
                    <li><a href="javascript:void(0)">Privacy Policy</a></li>
                </ul>
                <p> <span class="mail"><a href="mailto:info@showroomauction.com">info@showroomauction.com</a></span> <span class="call">01244 347 680</span> </p>
            </div>
            <nav>
                <div class="bot">
                    <h1 class="logo"><a title="Showroom Auction" href="<?php echo $this->basePath() ?>"><img src="<?php echo $this->basePath() ?>/images/logo.png" alt="Showroom Auction"></a></h1>


                    <div class="btns"> <a class="login" id="modal_trigger" href="#modal">Login</a>
                     <a class="register" href="<?php echo$this->url('customer/default', array('controller' => 'registration', 'action' => 'index')); ?>">Register</a> </div>
                    <div class="nav-sec"> <a href="#" class="mobile-nav show-mobile">&#xe003;</a>
                        <ol id="nav" class="navigation">
                            <li><a title="Home" href="javascript:void(0)">Home</a></li>
                            <li><a href="javascript:void(0)">Buy</a></li>
                            <li><a href="javascript:void(0)">Sell</a></li>
                            <li><a href="javascript:void(0)">Dashboard</a></li>
                            <li><a href="javascript:void(0)">Contact</a></li>
                        </ol>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </nav>
        </header>


<?php /*
<?php
$form = $this->form;
$form->setAttribute('action', $this->url('customer/default', array('controller' => 'registration', 'action' => 'index')));
$form->prepare();


echo $this->form()->openTag($form);
?>*/?>