<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Index</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <!--[if lt IE 9]>
                    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
                    <![endif]-->
        <!-- Mobile Specific Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <script type="text/javascript">
            /mobi/i.test(navigator.userAgent) && !location.hash && setTimeout(function () {
                if (!pageYOffset)
                    window.scrollTo(0, 1);
            }, 1000);
        </script>
        <!-- CSS -->
        <link rel="stylesheet" href="<?php echo $this->basePath() ?>/css/grid.css">
        <link rel="stylesheet" href="<?php echo $this->basePath() ?>/css/styles.css">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>
        <!-- Favicons -->
        <link rel="shortcut icon" href="<?php echo $this->basePath() ?>/images/favicon.ico">
        <link rel="apple-touch-icon-precomposed" href="<?php echo $this->basePath() ?>/images/apple-touch-icon.png">
        <!-- Analytics -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-1682054-15']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body>
        <!-- Pop up start -->
        <div id="modal" class="popupContainer" style="display:none;">
            <header class="popupHeader"> <span class="header_title">Login</span> <span class="modal_close"><i class="crose-icon"><img src="<?php echo $this->basePath() ?>/images/cross-icon.png" alt=""></i></span> </header>
            <section class="popupBody"> 
                <!-- Social Login -->
                <div class="social_login">

                    <?php
                   // echo get_class($this); die;
                    $form = $this->form;
                    $form->setAttribute('action', $this->url('customer/default', array('controller' => 'index', 'action' => 'login')));
                    $form->prepare();
                    echo $this->form()->openTag($form);
                    ?>
                    <p>Please Login below or click <a href="#" id="register_form_2"> register </a> to join Showroom Auction</p>
                    <div class="user_login_form">
                        <label>Username email</label>
                        <?php echo $this->formRow($form->get('email')); ?>
                        <br />
                        <label>Password</label>
                        <?php echo $this->formRow($form->get('password')); ?>
                        <a href="#" class="forgot_password">Forgotten your password?</a> 
                    </div>
                    <div class="action_btns">
                        <div class="one_half"><a href="<?php echo$this->url('customer/default', array('controller' => 'registration', 'action' => 'index')); ?>" id="register_form" class="register-btn">Register</a></div>
                        <div class="one_half last"><?php echo $this->formSubmit($form->get('submit')); ?></div>
                    </div>
                    <?php
                    echo $this->form()->closeTag();
                    ?>
                </div>

                <!-- Username & Password Login form -->
                <div class="user_login user_login_form">
                    <form>
                        <label>Username</label>
                        <input type="text" />
                        <br />
                        <label>Password</label>
                        <input type="password" />
                    </form>
                    <a href="#" class="forgot_password">Forgotten your password?</a>
                    <div class="action_btns">
                        <div class="one_half"><a href="#" class="btn back_btn">Back</a></div>
                        <div class="one_half last"><a href="#" class="login-btn">Login</a></div>
                    </div>
                </div>

                <!-- Register Form -->
                <div class="user_register user_login_form">
                    <form>
                        <label>Username</label>
                        <input type="text" />
                        <br />
                        <label>Email Address</label>
                        <input type="email" />
                        <br />
                        <label>Password</label>
                        <input type="password" />
                        <br />
                    </form>
                    <div class="action_btns">
                        <div class="one_half"><a href="#" class="btn back_btn">Back</a></div>
                        <div class="one_half last"><a href="<?php echo$this->url('customer/default', array('controller' => 'registration', 'action' => 'index')); ?>" class="register-btn">Register</a></div>
                    </div>
                </div>
            </section>
        </div>
        <!-- Pop up end -->
        <header>
            <div class="top">
                <ul>
                    <li><a href="javascript:void(0)">Delivery</a></li>
                    <li><a href="javascript:void(0)">Payments</a></li>
                    <li><a href="javascript:void(0)">Terms of Use</a></li>
                    <li><a href="javascript:void(0)">Privacy Policy</a></li>
                </ul>
                <p> <span class="mail"><a href="mailto:info@showroomauction.com">info@showroomauction.com</a></span> <span class="call">01244 347 680</span> </p>
            </div>
            <nav>
                <div class="bot">
                    <h1 class="logo"><a title="Showroom Auction" href="<?php echo $this->basePath() ?>"><img src="<?php echo $this->basePath() ?>/images/logo.png" alt="Showroom Auction"></a></h1>


                    <div class="btns"> <a class="login" id="modal_trigger" href="#modal">Login</a>
                     <a class="register" href="<?php echo$this->url('customer/default', array('controller' => 'registration', 'action' => 'index')); ?>">Register</a> </div>
                    <div class="nav-sec"> <a href="#" class="mobile-nav show-mobile">&#xe003;</a>
                        <ol id="nav" class="navigation">
                            <li><a title="Home" href="javascript:void(0)">Home</a></li>
                            <li><a href="javascript:void(0)">Buy</a></li>
                            <li><a href="javascript:void(0)">Sell</a></li>
                            <li><a href="javascript:void(0)">Dashboard</a></li>
                            <li><a href="javascript:void(0)">Contact</a></li>
                        </ol>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </nav>
        </header>
        <section id="banner">
            <div class="wrapper">
                <div class="grid_12"> <img class="pic" src="<?php echo $this->basePath() ?>/images/bnr-pic.jpg" alt="">
                    <div class="caption">
                        <h2>Connecting main <span>dealers</span> with <span>car</span> traders</h2>
                        <p>Welcome to the UK's fastest growing "Trade Only" online car auction. Offering a fast and convient way to get a better profit margin on your part exchange cars.</p>
                        <div class="btns"> <a class="login" id="modal_trigger2" href="#modal">Login</a> <a class="register" href="javascript:void(0)">Register</a> </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="auction-search">
            <div class="row">
                <div class="grid_2 title">
                    <h2>Auction Search</h2>
                </div>
                <div class="grid_10 action">
                    <input type="search" onblur="this.value = this.defaultValue;" onfocus="if (this.value == 'Type Keyword')
                                this.value = '';" value="Type Keyword" name="" id="">
                    <input type="submit" value="Search Auctions">
                </div>
            </div>
        </section>
        <section class="currently-running">
            <div class="row">
                <div class="grid_4">
                    <h2>Currently Running Auctions</h2>
                </div>
                <div class="grid_8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                </div>
                <div class="grid_12 auction-items">
                    <div class="block">
                        <label>A</label>
                        <ul>
                            <li><a href="javascript:void(0)">Alfa Romeo</a> <span>(6)</span></li>
                            <li><a href="javascript:void(0)">Aston Martin</a> <span>(1)</span></li>
                            <li><a href="javascript:void(0)">Audi</a> <span>(23)</span></li>
                        </ul>
                    </div>
                    <div class="block">
                        <label>B</label>
                        <ul>
                            <li><a href="javascript:void(0)">Bentley</a> <span>(1)</span></li>
                            <li><a href="javascript:void(0)">Bmw</a> <span>(36)</span></li>
                        </ul>
                    </div>
                    <div class="block">
                        <label>C</label>
                        <ul>
                            <li><a href="javascript:void(0)">Chevrolet</a> <span>(7)</span></li>
                            <li><a href="javascript:void(0)">Chrysler</a> <span>(2)</span></li>
                            <li><a href="javascript:void(0)">Citroen</a> <span>(41)</span></li>
                        </ul>
                    </div>
                    <div class="block">
                        <label>D</label>
                        <ul>
                            <li><a href="javascript:void(0)">Daewoo</a> <span>(2)</span></li>
                        </ul>
                    </div>
                    <div class="block">
                        <label>F</label>
                        <ul>
                            <li><a href="javascript:void(0)">Fiat</a> <span>(22)</span></li>
                            <li><a href="javascript:void(0)">Ford</a> <span>(101)</span></li>
                        </ul>
                    </div>
                    <div class="block">
                        <label>H</label>
                        <ul>
                            <li><a href="javascript:void(0)">Honda</a> <span>(46)</span></li>
                            <li><a href="javascript:void(0)">Hyundai</a> <span>(19)</span></li>
                        </ul>
                    </div>
                    <div class="block">
                        <label>J</label>
                        <ul>
                            <li><a href="javascript:void(0)">Jaguar</a> <span>(2)</span></li>
                            <li><a href="javascript:void(0)">Jeep</a> <span>(5)</span></li>
                        </ul>
                    </div>
                    <div class="block">
                        <label>K</label>
                        <ul>
                            <li><a href="javascript:void(0)">Kia</a> <span>(16)</span></li>
                        </ul>
                    </div>
                    <div class="block">
                        <label>L</label>
                        <ul>
                            <li><a href="javascript:void(0)">Land rover</a> <span>(27)</span></li>
                            <li><a href="javascript:void(0)">Lexus</a> <span>(8)</span></li>
                        </ul>
                    </div>
                    <div class="block">
                        <label>M</label>
                        <ul>
                            <li><a href="javascript:void(0)">Mazda</a> <span>(26)</span></li>
                            <li><a href="javascript:void(0)">Mercedes</a> <span>(17)</span></li>
                            <li><a href="javascript:void(0)">Mini</a> <span>(11)</span></li>
                            <li><a href="javascript:void(0)">Mitsubishi</a> <span>(6)</span></li>
                        </ul>
                    </div>
                    <div class="block">
                        <label>N</label>
                        <ul>
                            <li><a href="javascript:void(0)">Nissan</a> <span>(39)</span></li>
                        </ul>
                    </div>
                    <div class="block">
                        <label>P</label>
                        <ul>
                            <li><a href="javascript:void(0)">Peugeot</a> <span>(55)</span></li>
                            <li><a href="javascript:void(0)">Porsche</a> <span>(1)</span></li>
                            <li><a href="javascript:void(0)">Proton</a> <span>(1)</span></li>
                        </ul>
                    </div>
                    <div class="block">
                        <label>R</label>
                        <ul>
                            <li><a href="javascript:void(0)">Renault</a> <span>(47)</span></li>
                            <li><a href="javascript:void(0)">Rover</a> <span>(2)</span></li>
                        </ul>
                    </div>
                    <div class="block">
                        <label>S</label>
                        <ul>
                            <li><a href="javascript:void(0)">Seat</a> <span>(18)</span></li>
                            <li><a href="javascript:void(0)">Skoda</a> <span>(30)</span></li>
                            <li><a href="javascript:void(0)">Subaru</a> <span>(4)</span></li>
                            <li><a href="javascript:void(0)">Suzuki</a> <span>(30)</span></li>
                        </ul>
                    </div>
                    <div class="block">
                        <label>T</label>
                        <ul>
                            <li><a href="javascript:void(0)">Toyota</a> <span>(53)</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="ending-soon">
            <div class="row">
                <div class="grid_4">
                    <h2>Ending Soon Auctions</h2>
                </div>
                <div class="grid_8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                </div>
                <div class="ending-list">
                    <div class="grid_12">
                        <div class="block red">
                            <div class="grid_2"> <span class="pic"></span> </div>
                            <div class="grid_3">
                                <h6>Toyota Yaris TR VVT-I</h6>
                                <p>1329cc, 5 Doors, MANUAL, 2013, 16,475 Miles</p>
                            </div>
                            <div class="grid_3">
                                <h6>Current Bid - <span>£2,100</span></h6>
                                <p>Location: London, Greater London</p>
                            </div>
                            <div class="grid_2">
                                <h6 class="red">Auction Ending...</h6>
                                <p class="green">Reserve met</p>
                            </div>
                            <div class="grid_2"> <a href="javascript:void(0)" class="btn auction-end">Auction Ended</a> </div>
                        </div>
                        <div class="block">
                            <div class="grid_2"> <span class="pic"></span> </div>
                            <div class="grid_3">
                                <h6>Toyota Yaris TR VVT-I</h6>
                                <p>1329cc, 5 Doors, MANUAL, 2013, 16,475 Miles</p>
                            </div>
                            <div class="grid_3">
                                <h6>Current Bid - <span>£2,100</span></h6>
                                <p>Location: London, Greater London</p>
                            </div>
                            <div class="grid_2">
                                <h6>Time Left: <span>14s</span></h6>
                                <p class="green">Reserve met</p>
                            </div>
                            <div class="grid_2"> <a href="javascript:void(0)" class="btn make-bid">Make Bid</a> </div>
                        </div>
                        <div class="block">
                            <div class="grid_2"> <span class="pic"></span> </div>
                            <div class="grid_3">
                                <h6>Toyota Yaris TR VVT-I</h6>
                                <p>1329cc, 5 Doors, MANUAL, 2013, 16,475 Miles</p>
                            </div>
                            <div class="grid_3">
                                <h6>Current Bid - <span>£2,100</span></h6>
                                <p>Location: London, Greater London</p>
                            </div>
                            <div class="grid_2">
                                <h6>Time Left: <span>28s</span></h6>
                                <p class="red">Reserve not met</p>
                            </div>
                            <div class="grid_2"> <a href="javascript:void(0)" class="btn make-bid">Make Bid</a> </div>
                        </div>
                        <div class="block">
                            <div class="grid_2"> <span class="pic"></span> </div>
                            <div class="grid_3">
                                <h6>Toyota Yaris TR VVT-I</h6>
                                <p>1329cc, 5 Doors, MANUAL, 2013, 16,475 Miles</p>
                            </div>
                            <div class="grid_3">
                                <h6>Current Bid - <span>£2,100</span></h6>
                                <p>Location: London, Greater London</p>
                            </div>
                            <div class="grid_2">
                                <h6>Time Left: <span>14s</span></h6>
                                <p class="green">Reserve met</p>
                            </div>
                            <div class="grid_2"> <a href="javascript:void(0)" class="btn make-bid">Make Bid</a> </div>
                        </div>
                        <div class="block">
                            <div class="grid_2"> <span class="pic"></span> </div>
                            <div class="grid_3">
                                <h6>Toyota Yaris TR VVT-I</h6>
                                <p>1329cc, 5 Doors, MANUAL, 2013, 16,475 Miles</p>
                            </div>
                            <div class="grid_3">
                                <h6>Current Bid - <span>£2,100</span></h6>
                                <p>Location: London, Greater London</p>
                            </div>
                            <div class="grid_2">
                                <h6>Time Left: <span>28s</span></h6>
                                <p class="red">Reserve not met</p>
                            </div>
                            <div class="grid_2"> <a href="javascript:void(0)" class="btn make-bid">Make Bid</a> </div>
                        </div>
                    </div>
                </div>
                <div class="bottom-btns">
                    <div class="bottom-btns-middle"> <a href="javascript:void(0)" class="login">View all Actions</a> <a href="javascript:void(0)" class="register">Register</a> </div>
                </div>
            </div>
        </section>
        <footer>
            <ul>
                <li><a href="javascript:void(0)">Delivery</a></li>
                <li><a href="javascript:void(0)">Payments</a></li>
                <li><a href="javascript:void(0)">Terms of Use</a></li>
                <li><a href="javascript:void(0)">Privacy Policy</a></li>
            </ul>
            <p>&copy; Showroom Auction Ltd 2015 (Reg. No. 6676554)</p>
            <div class="clearfix"></div>
        </footer>
        <!-- Scripts --> 
        <script type="text/javascript" src="<?php echo $this->basePath() ?>/js/jquery-1.10.2.min.js"></script> 
        <script type="text/javascript" src="<?php echo $this->basePath() ?>/js/amazium.js"></script> 
        <script type="text/javascript" src="<?php echo $this->basePath() ?>/js/jquery.leanModal.min.js"></script> 
        <script type="text/javascript">
                        $("#modal_trigger").leanModal({top: 100, overlay: 0.3, closeButton: ".modal_close"});
                        $("#modal_trigger2").leanModal({top: 100, overlay: 0.3, closeButton: ".modal_close"});

                        $(function () {
                            // Calling Login Form
                            $("#login_form").click(function () {
                                $(".social_login").hide();
                                $(".user_login").show();
                                return false;
                            });

                            // Calling Register Form
                            $("#register_form").click(function () {
                                $(".social_login").hide();
                                $(".user_register").show();
                                $(".header_title").text('Register');
                                return false;
                            });

                            // Going back to Social Forms
                            $(".back_btn").click(function () {
                                $(".user_login").hide();
                                $(".user_register").hide();
                                $(".social_login").show();
                                $(".header_title").text('Login');
                                return false;
                            });

                        })
        </script>
    </body>
</html>