<h1>Login </h1>
<?php echo $this->escapeHtml($this->messages); ?>
<?php
$form = $this->form;
$form->setAttribute('action', $this->url('customer/default', array('controller' => 'index', 'action' => 'login')));
$form->prepare();


echo $this->form()->openTag($form);
?>
<table>
    <tr>
        <td style="vertical-align: top">User email</td>
        <td><?php echo $this->formRow($form->get('email'));?></td>
    </tr>
    <tr>
        <td style="vertical-align: top">Password</td>
        <td><?php echo $this->formRow($form->get('password'));?></td>
    </tr>
    <tr>
        <td colspan="2">
            <?php echo $this->formSubmit($form->get('submit')); ?>
        </td>
    </tr>
</table>
<?php 
echo $this->form()->closeTag();
?>