<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>SA dashboard home</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!-- Mobile Specific Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <!-- Scripts -->
        <script type="text/javascript">
            /mobi/i.test(navigator.userAgent) && !location.hash && setTimeout(function () {
                if (!pageYOffset)
                    window.scrollTo(0, 1);
            }, 1000);
        </script>
        <!-- CSS -->
        <link rel="stylesheet" href="<?php echo $this->basePath() ?>/css/grid.css">
        <link rel="stylesheet" href="<?php echo $this->basePath() ?>/css/styles.css">
        <link rel="stylesheet" href="<?php echo $this->basePath() ?>/css/form.css">
        <link rel="stylesheet" type="text/css" href="<?php echo $this->basePath() ?>/css/tabcontent.css" />
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>
        <!-- Favicons -->
        <link rel="shortcut icon" href="<?php echo $this->basePath() ?>/images/favicon.ico">
        <link rel="apple-touch-icon-precomposed" href="<?php echo $this->basePath() ?>/images/apple-touch-icon.png">
    </head>
    <body>
        <header>
            <div class="top">
                <ul>
                    <li><a href="javascript:void(0)">Delivery</a></li>
                    <li><a href="javascript:void(0)">Payments</a></li>
                    <li><a href="javascript:void(0)">Terms of Use</a></li>
                    <li><a href="javascript:void(0)">Privacy Policy</a></li>
                </ul>
                <p> <span class="mail"><a href="mailto:info@showroomauction.com">info@showroomauction.com</a></span> <span class="call">01244 347 680</span> </p>
            </div>
            <nav>
                <div class="bot">
                    <h1 class="logo"><a title="Showroom Auction" href="javascript:void(0)"><img src="images/logo.png" alt="Showroom Auction"></a></h1>
                    <div class="btns"> <a title="<?='Hello ' . $this->escapeHtml($this->identity()->name) ?>" class="login my-account" href="javascript:void(0)">My Account</a> <a class="register logout" href="<?php echo $this->url('customer/default', array('controller' => 'index', 'action' => 'logout')); ?>">Logout</a> </div>
                    <div class="nav-sec"> <a href="#" class="mobile-nav show-mobile">&#xe003;</a>
                        <ol id="nav" class="navigation">
                            <li><a title="Home" href="javascript:void(0)">Home</a></li>
                            <li><a href="javascript:void(0)">Buy</a></li>
                            <li><a href="javascript:void(0)">Sell</a></li>
                            <li><a href="javascript:void(0)">Dashboard</a></li>
                            <li><a href="javascript:void(0)">Contact</a></li>
                        </ol>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </nav>
        </header>
        <section class="auction-search">
            <div class="row">
                <div class="grid_2 title">
                    <h2>Auction Search</h2>
                </div>
                <div class="grid_10 action">
                    <input type="search" id="" name="" value="Type Keyword" onfocus="if (this.value == 'Type Keyword')
                                this.value = '';" onblur="this.value = this.defaultValue;">
                    <input type="submit" value="Search Auctions">
                </div>
            </div>
        </section>
        <section class="sell-vehicle">
            <div class="row">
                <div class="grid_4 sell-heading">
                    <h2>Dashboard</h2>
                </div>
                <div class="grid_8"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. </div>
            </div>
        </section>
        <section class="ending-soon dashboard-ending-soon">
            <div class="row">
                <div class="grid_12">
                    <div class="home-tabouter">
                        <ul id="tabs" class="heading">
                            <li class="grid_3 tab-list"><a rel="tab1" href="#" class="selected">Buying</a></li>
                            <li class="grid_3 tab-list"><a class="" rel="tab2" href="#">Selling</a></a></li>
                            <li class="grid_3 tab-list"><a class="" rel="tab3" href="#">Transaction History</a></a></li>
                            <li class="grid_3 tab-list"><a class="" rel="tab4" href="#">Account Details</a></a></li>
                        </ul>
                        <div style="display: none;" id="tab1" class="tab-content">
                            <h2>Selling</h2>
                            <ul id="tabs-sub" class="heading">
                                <li class="grid_2 tab-list-sub"><a rel="tab5" href="#" class="selected">Bidding<span>(3)</span></a></li>
                                <li class="grid_2 tab-list-sub"><a class="" rel="tab6" href="#">Watching<span>(6)</span></a></a></li>
                                <li class="grid_2 tab-list-sub"><a class="" rel="tab7" href="#">Won<span>(2)</span></a></a></li>
                                <li class="grid_2 tab-list-sub"><a class="" rel="tab8" href="#">Provisional<span>(1)</span></a></a></li>
                                <li class="grid_2 tab-list-sub"><a class="" rel="tab9" href="#">Lost<span>(3)</span></a></a></li>
                            </ul>
                            <div id="tab5" class="tab-content">
                                <div class="ending-list dashboard-ending-list">
                                    <div class="block red">
                                        <div class="grid_2 grid"> <span class="pic"></span> </div>
                                        <div class="grid_3 grid">
                                            <h6>Toyota Yaris TR VVT-I</h6>
                                            <p>1329cc, 5 Doors, MANUAL, 2013, 16,475 Miles</p>
                                        </div>
                                        <div class="grid_3 grid">
                                            <h6>Current Bid - <span>£2,100</span></h6>
                                            <p>Location: London, Greater London</p>
                                        </div>
                                        <div class="grid_2 grid">
                                            <h6 class="red">Auction Ending...</h6>
                                            <p class="green">Reserve met</p>
                                        </div>
                                        <div class="grid_2 grid"> <a href="javascript:void(0)" class="btn auction-end">Auction Ended</a> </div>
                                    </div>
                                    <div class="block">
                                        <div class="grid_2 grid"> <span class="pic"></span> </div>
                                        <div class="grid_3 grid">
                                            <h6>Toyota Yaris TR VVT-I</h6>
                                            <p>1329cc, 5 Doors, MANUAL, 2013, 16,475 Miles</p>
                                        </div>
                                        <div class="grid_3 grid">
                                            <h6>Current Bid - <span>£2,100</span></h6>
                                            <p>Location: London, Greater London</p>
                                        </div>
                                        <div class="grid_2 grid">
                                            <h6>Time Left: <span>28s</span></h6>
                                            <p class="green">Reserve not met</p>
                                        </div>
                                        <div class="grid_2 grid"> <a href="javascript:void(0)" class="btn make-bid">Counter Bid</a> </div>
                                    </div>
                                    <div class="block yellow">
                                        <div class="grid_2 grid"> <span class="pic"></span> </div>
                                        <div class="grid_3 grid">
                                            <h6>Toyota Yaris TR VVT-I</h6>
                                            <p>1329cc, 5 Doors, MANUAL, 2013, 16,475 Miles</p>
                                        </div>
                                        <div class="grid_3 grid">
                                            <h6>Current Bid - <span>£2,100</span></h6>
                                            <p>Location: London, Greater London</p>
                                        </div>
                                        <div class="grid_2 grid">
                                            <h6>Time Left: <span>28s</span></h6>
                                            <p class="red">Reserve not met</p>
                                        </div>
                                        <div class="grid_2 grid"> <a href="javascript:void(0)" class="btn make-bid">Counter Bid</a> </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab6" class="tab-content">
                                <div class="ending-list dashboard-ending-list">
                                    <div class="block">
                                        <div class="grid_2 grid"> <span class="pic"></span> </div>
                                        <div class="grid_3 grid">
                                            <h6>Toyota Yaris TR VVT-I</h6>
                                            <p>1329cc, 5 Doors, MANUAL, 2013, 16,475 Miles</p>
                                        </div>
                                        <div class="grid_3 grid">
                                            <h6>Current Bid - <span>£2,100</span></h6>
                                            <p>Location: London, Greater London</p>
                                        </div>
                                        <div class="grid_2 grid">
                                            <h6>Time Left: <span>28s</span></h6>
                                            <p class="green">Reserve not met</p>
                                        </div>
                                        <div class="grid_2 grid"> <a href="javascript:void(0)" class="btn make-bid">Counter Bid</a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab2" class="tab-content">
                            <p>This is tab4</p>
                        </div>
                        <div id="tab3" class="tab-content">
                            <p>This is tab4</p>
                        </div>
                        <div id="tab4" class="tab-content">
                            <p>This is tab4</p>
                        </div>
                    </div>
                    <div class="pagination-wrap">
                        <ul>
                            <span class="previous_btn">Previous</span>
                            <li class="current"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <span class="next_btn">Next</span>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <ul>
                <li><a href="javascript:void(0)">Delivery</a></li>
                <li><a href="javascript:void(0)">Payments</a></li>
                <li><a href="javascript:void(0)">Terms of Use</a></li>
                <li><a href="javascript:void(0)">Privacy Policy</a></li>
            </ul>
            <p>&copy; Showroom Auction Ltd 2015 (Reg. No. 6676554)</p>
            <div class="clearfix"></div>
        </footer>
        <script type="text/javascript" src="<?php echo $this->basePath() ?>/js/jquery-1.10.2.min.js"></script> 
        <script type="text/javascript" src="<?php echo $this->basePath() ?>/js/amazium.js"></script> 
        <script type="text/javascript" src="<?php echo $this->basePath() ?>/js/tabcontent.js"></script> 
        <script type="text/javascript">
                                    var countries = new ddtabcontent("tabs")
                                    countries.setpersist(true)
                                    countries.setselectedClassTarget("link") //"link" or "linkparent"
                                    countries.init()
                                    var cr_tab_c_sub = new ddtabcontent("tabs-sub")
                                    cr_tab_c_sub.setpersist(true)
                                    cr_tab_c_sub.setselectedClassTarget("link") //"link" or "linkparent"
                                    cr_tab_c_sub.init();
                                    var type = window.location.hash.substr(1);
                                    if (type != "") {
                                        $("a[rel='" + type + "']").click();
                                    }
        </script>
    </body>
</html>