<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>SA sell step 2</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!-- Mobile Specific Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <script type="text/javascript">
            /mobi/i.test(navigator.userAgent) && !location.hash && setTimeout(function () {
                if (!pageYOffset)
                    window.scrollTo(0, 1);
            }, 1000);
        </script>
        <!-- CSS -->
        <link rel="stylesheet" href="<?php echo $this->basePath() ?>/css/grid.css">
        <link rel="stylesheet" href="<?php echo $this->basePath() ?>/css/styles.css">
        <link rel="stylesheet" href="<?php echo $this->basePath() ?>/css/form.css">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>
        <!-- Favicons -->
        <link rel="shortcut icon" href="<?php echo $this->basePath() ?>/images/favicon.ico">
        <link rel="apple-touch-icon-precomposed" href="<?php echo $this->basePath() ?>/images/apple-touch-icon.png">
    </head>
    <body>
        <!-- Pop up start -->
        <div id="modal" class="popupContainer" style="display:none;">
            <header class="popupHeader"> <span class="header_title">Login</span> <span class="modal_close"><i class="crose-icon"><img src="<?php echo $this->basePath() ?>/images/cross-icon.png" alt=""></i></span> </header>
            <section class="popupBody"> 
                <!-- Social Login -->
                <div class="social_login">

                    <?php
                   // echo get_class($this); die;
                    $form = $this->form;
                    $form->setAttribute('action', $this->url('customer/default', array('controller' => 'index', 'action' => 'login')));
                    $form->prepare();
                    echo $this->form()->openTag($form);
                    ?>
                    <p>Please Login below or click <a href="#" id="register_form_2"> register </a> to join Showroom Auction</p>
                    <div class="user_login_form">
                        <label>Username email</label>
                        <?php echo $this->formRow($form->get('email')); ?>
                        <br />
                        <label>Password</label>
                        <?php echo $this->formRow($form->get('password')); ?>
                        <a href="#" class="forgot_password">Forgotten your password?</a> 
                    </div>
                    <div class="action_btns">
                        <div class="one_half"><a href="<?php echo$this->url('customer/default', array('controller' => 'registration', 'action' => 'index')); ?>" id="register_form" class="register-btn">Register</a></div>
                        <div class="one_half last"><?php echo $this->formSubmit($form->get('submit')); ?></div>
                    </div>
                    <?php
                    echo $this->form()->closeTag();
                    ?>
                </div>

                <!-- Username & Password Login form -->
                <div class="user_login user_login_form">
                    <form>
                        <label>Username</label>
                        <input type="text" />
                        <br />
                        <label>Password</label>
                        <input type="password" />
                    </form>
                    <a href="#" class="forgot_password">Forgotten your password?</a>
                    <div class="action_btns">
                        <div class="one_half"><a href="#" class="btn back_btn">Back</a></div>
                        <div class="one_half last"><a href="#" class="login-btn">Login</a></div>
                    </div>
                </div>

                <!-- Register Form -->
                <div class="user_register user_login_form">
                    <form>
                        <label>Username</label>
                        <input type="text" />
                        <br />
                        <label>Email Address</label>
                        <input type="email" />
                        <br />
                        <label>Password</label>
                        <input type="password" />
                        <br />
                    </form>
                    <div class="action_btns">
                        <div class="one_half"><a href="#" class="btn back_btn">Back</a></div>
                        <div class="one_half last"><a href="<?php echo$this->url('customer/default', array('controller' => 'registration', 'action' => 'index')); ?>" class="register-btn">Register</a></div>
                    </div>
                </div>
            </section>
        </div>
        <!-- Pop up end -->
        
        
        <header>
            <div class="top">
                <ul>
                    <li><a href="javascript:void(0)">Delivery</a></li>
                    <li><a href="javascript:void(0)">Payments</a></li>
                    <li><a href="javascript:void(0)">Terms of Use</a></li>
                    <li><a href="javascript:void(0)">Privacy Policy</a></li>
                </ul>
                <p> <span class="mail"><a href="mailto:info@showroomauction.com">info@showroomauction.com</a></span> <span class="call">01244 347 680</span> </p>
            </div>
            <nav>
                <div class="bot">
                    <h1 class="logo"><a href="javascript:void(0)" title="Showroom Auction"><img alt="Showroom Auction" src="<?php echo $this->basePath() ?>/images/logo.png"></a></h1>
                    <div class="btns"> <a class="login" id="modal_trigger" href="#modal">Login</a> </div>
                    <div class="nav-sec"> <a class="mobile-nav show-mobile" href="#"></a>
                        <ol class="navigation" id="nav" style="">
                            <li><a href="javascript:void(0)" title="Home">Home</a></li>
                            <li><a href="javascript:void(0)">Buy</a></li>
                            <li><a href="javascript:void(0)">Sell</a></li>
                            <li><a href="javascript:void(0)">Dashboard</a></li>
                            <li><a href="javascript:void(0)">Contact</a></li>
                        </ol>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </nav>
        </header>
        <section class="sell-vehicle">
            <div class="row">
                <div class="grid_8 sell-heading">
                    <h2>Registration</h2>
                    <p>A user will be able to register with the following fields :</p>
                </div>
            </div>
        </section>
        <section class="vehicle-information-sec">
            <div class="row">
                <div class="vehicle-registration-sec">
                    <div class="grid_8 vehicle-reg-head">
                        <h2>User</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <form class="hide-lables" action="" method="" id="" name="">
                    <div class="fld-block">
                        <div class="grid_4">
                            <label>Dealer Type</label>
                            <span class="select">
                                <select name="dropdown" id="dropdown">
                                    <option selected="">Commerical</option>
                                    <option>Domestic</option>
                                </select>
                            </span>
                        </div>
                        <div class="grid_4">
                            <label>Contact Name</label>
                            <input type="text" autocomplete="on" placeholder="Contact Name" id="contact-name" name="contact-name">

                        </div>
                        <div class="grid_4">
                            <label>Position In Company</label>
                            <input type="text" autocomplete="on" placeholder="Position In Company" id="position-in-company" name="position-in-company">
                        </div>
                        <div class="grid_4">
                            <label>Email Address</label>
                            <input type="text" autocomplete="on" placeholder="Email Address" id="email" name="email">
                        </div>
                        <div class="grid_4">
                            <label>Confirm Email Address (Not Stored)</label>
                            <input type="text" autocomplete="on" placeholder="Confirm Email Address" id="confirm-email" name="confirm-email">
                        </div>
                        <div class="grid_4">
                            <label>Telephone</label>
                            <input type="text" autocomplete="on" placeholder="Telephone" id="telephone" name="telephone">
                        </div>
                        <div class="grid_4">
                            <label>Mobile Phone</label>
                            <input type="text" autocomplete="on" placeholder="Mobile Phone" id="mobile-phone" name="mobile-phone">
                        </div>
                    </div>
                    <div class="fld-block special-blk">
                        <div class="grid_4">
                            <label>Username</label>
                            <input type="text" autocomplete="on" placeholder="Username" id="username" name="username">
                        </div>
                        <div class="grid_4">
                            <label>Password</label>
                            <input type="text" autocomplete="on" placeholder="Password" id="password" name="password">
                        </div>
                        <div class="grid_4">
                            <label>Re-enter Password</label>
                            <input type="text" autocomplete="on" placeholder="Re-enter Password" id="re-enter-password" name="re-enter-password">
                        </div>
                    </div>

                    <div class="fld-block Sevice-histry">
                        <div class="grid_12">
                            <h2>Company</h2>
                            <div class="grid_4">
                                <label>Company Name</label>
                                <input type="text" autocomplete="on" placeholder="Company Name" id="company-name" name="company-name">
                            </div>
                            <div class="grid_4">
                                <label>Website</label>
                                <input type="text" autocomplete="on" placeholder="Website" id="website" name="website">
                            </div>
                        </div>
                    </div>
                    <div class="fld-block Full-Specification">
                        <h2>Address</h2>
                        <div class="grid_4">
                            <label>Address Line 1</label>
                            <input type="text" autocomplete="on" placeholder="Address Line 1" id="website" name="website">
                        </div>
                        <div class="grid_4">
                            <label>Address Line 2</label>
                            <input type="text" autocomplete="on" placeholder="Address Line 2" id="address2" name="address2">
                        </div>
                        <div class="grid_4">
                            <label>Address Line 3</label>
                            <input type="text" autocomplete="on" placeholder="Address Line 3" id="address3" name="address3">
                        </div>
                        <div class="grid_4">
                            <label>City</label>
                            <input type="text" autocomplete="on" placeholder="City" id="city" name="city">
                        </div>
                        <div class="grid_4">
                            <label>Postcode</label>
                            <input type="text" autocomplete="on" placeholder="Postcode" id="postcode" name="postcode">
                        </div>
                        <div class="grid_4">
                            <label>County</label>
                            <input type="text" autocomplete="on" placeholder="County" id="county" name="county">
                        </div>
                        <div class="grid_4">
                            <label>Country</label>
                            <input type="text" autocomplete="on" placeholder="Country" id="country" name="country">
                        </div>
                    </div>
                    <div class="fld-block Full-Specification">
                        <div class="grid_12">
                            <input type="submit" value="Register" class="register-btn">
                        </div>
                    </div>
                </form>
            </div>
        </section>

        <footer>
            <ul>
                <li><a href="javascript:void(0)">Delivery</a></li>
                <li><a href="javascript:void(0)">Payments</a></li>
                <li><a href="javascript:void(0)">Terms of Use</a></li>
                <li><a href="javascript:void(0)">Privacy Policy</a></li>
            </ul>
            <p>&copy; Showroom Auction Ltd 2015 (Reg. No. 6676554)</p>
            <div class="clearfix"></div>
        </footer>
        <!-- Scripts -->
        <script type="text/javascript" src="<?php echo $this->basePath() ?>/js/jquery-1.10.2.min.js"></script> 
        <script type="text/javascript" src="<?php echo $this->basePath() ?>/js/amazium.js"></script> 
        <script type="text/javascript" src="<?php echo $this->basePath() ?>/js/jquery.leanModal.min.js"></script> 
        <script type="text/javascript">
                        $("#modal_trigger").leanModal({top: 100, overlay: 0.3, closeButton: ".modal_close"});

                        $(function () {
                            // Calling Login Form
                            $("#login_form").click(function () {
                                $(".social_login").hide();
                                $(".user_login").show();
                                return false;
                            });

                            // Calling Register Form
                            $("#register_form").click(function () {
                                $(".social_login").hide();
                                $(".user_register").show();
                                $(".header_title").text('Register');
                                return false;
                            });

                            // Going back to Social Forms
                            $(".back_btn").click(function () {
                                $(".user_login").hide();
                                $(".user_register").hide();
                                $(".social_login").show();
                                $(".header_title").text('Login');
                                return false;
                            });

                        })
        </script>
    </body>
</html>